@import url("https://fonts.googleapis.com/css2?family=Poppins:&display=swap");
* {
  font-family: "Poppins", sans-serif;
  transform: 1.5s;
}

.btn-yashil {
  background-color: #02897a;
  color: #fff;
}
.btn-yashil:hover {
  background-color: #fff;
  color: #173a56;
  border: 1px solid #02897A;
}

.btn-outline-yashil {
  background-color: #fff;
  color: #173a56;
  border: 1px solid #02897A;
}
.btn-outline-yashil:hover {
  background-color: #02897a;
  color: #fff;
}

.cursor-pointer {
  cursor: pointer;
}

header {
  background: rgba(255, 255, 255, 0.0001);
}
header .brend-logo {
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 28px;
  color: #173a56;
}
header .nav-item a {
  margin-left: 24px;
  font-style: normal;
  font-size: 16px;
  line-height: 28px;
  color: #22343d;
}
header .nav-item a.active {
  font-weight: 600;
}
header .nav-item a.btn {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  padding: 10px 24px;
}

#header {
  background: rgba(255, 255, 255, 0.0001);
}
#header .container .row .col-lg-5 .fs-1 {
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 60px;
  color: #22343d;
}
#header .container .row .col-lg-5 .fs-5 {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  color: #22343d;
}
#header .container .row .col-lg-5 .btn {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  padding: 15px 41px;
}

#product {
  background: linear-gradient(0deg, #ededed 0.35%, rgba(255, 255, 255, 0.0001) 99.63%);
  border-bottom-left-radius: 60%;
  border-bottom-right-radius: 60%;
}
#product .container .row .h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 48px;
  text-align: center;
  color: #22343d;
}
#product .container .row .h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
  color: #22343d;
}
#product .container .row .p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #22343d;
}
#product .container .row .btn {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  padding: 15px 33px;
}

#app .container .row .col-md-6 .text1 {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #22343d;
}
#app .container .row .col-md-6 .text2 {
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 48px;
  color: #22343d;
}
#app .container .row .col-md-6 .text3 {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #22343d;
}
#app .container .row .col-md-6 .text4 {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  color: #22343d;
}

#quick {
  background: linear-gradient(180deg, #ededed 0.35%, rgba(255, 255, 255, 0.0001) 99.63%);
  border-top-left-radius: 60%;
  border-top-right-radius: 60%;
}
#quick .container .row .h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 48px;
  text-align: center;
  color: #22343d;
}
#quick .container .row .p2 {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #22343d;
}
#quick .container .row .col-md-6 .row .col-8 {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #2f281e;
  padding: 15px 25px;
  background: #ffffff;
  box-shadow: 0px 2px 15px rgba(23, 58, 86, 0.1);
  border-radius: 26.5px;
}

#quickN {
  background: rgba(255, 255, 255, 0.0001);
}
#quickN .container .btn {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  padding: 15px 30px;
}

#contents .container .row .text1 {
  font-style: normal;
  font-weight: bold;
  font-size: 34px;
  line-height: 51px;
  color: #22343d;
}
#contents .container .row .text2 {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #22343d;
}
#contents .container .swiper {
  height: 400px;
}
#contents .container .swiper .text3 {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  color: #22343d;
}
#contents .container .swiper .text3 span {
  font-weight: bold;
}
#contents .container .swiper .text4 {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 40px;
  color: #22343d;
}
#contents .container .swiper .card:hover {
  cursor: pointer;
}
#contents .container .swiper .card:hover .text4 {
  color: #02897a;
}
#contents .container .swiper .swiper-pagination span {
  background-color: #02897a;
  width: 16px;
  height: 16px;
}

#price .container .row .text1 {
  font-style: normal;
  font-weight: bold;
  font-size: 34px;
  line-height: 51px;
  color: #22343d;
}
#price .container .row .text2 {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #22343d;
}
#price .container .row .card .text3 {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 40px;
  color: #22343d;
}
#price .container .row .card .text4 {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 40px;
  color: #22343d;
}
#price .container .row .card .d-flex .t1 {
  font-style: normal;
  font-weight: bold;
  font-size: 76px;
  line-height: 100px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #02897a;
  padding-right: 8px;
}
#price .container .row .card .d-flex .t2 {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0.1px;
  color: #02897a;
  text-align: start;
}
#price .container .row .card .d-flex .t3 {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.1px;
  color: #afafaf;
}
#price .container .row .card .text5 {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.2px;
  color: #22343d;
}
#price .container .row .card .btn {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}
#price .container .row .card:hover * {
  color: #fff !important;
}
#price .container .row .card:hover .btn {
  background-color: #fff;
  color: #02897a !important;
}

#clients .container .row .text1 {
  font-style: normal;
  font-weight: bold;
  font-size: 34px;
  line-height: 57px;
  letter-spacing: 0.2px;
  color: #22343d;
}
#clients .container .row .text2 {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #22343d;
}
#clients .container .row .card .text3 {
  font-size: 20px;
}
#clients .container .row .card .text3 i {
  color: #f3cd03;
}
#clients .container .row .card .text4 {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.2px;
  color: #737373;
}
#clients .container .row .card .box {
  height: 60px;
}
#clients .container .row .card .box img {
  width: 60px;
}
#clients .container .row .card .box .t3 {
  margin-bottom: 0;
}

#this .container .row .card:hover {
  background-color: #02897a;
  color: #fff;
}
#this .container .row .card .text1 {
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 151.4%;
  color: #ffffff;
  text-align: start;
}
#this .container .row .card .btn {
  float: left;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  padding: 13px 35px;
  border-color: #fff;
}

footer .container .row .brend .brend-logo {
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 28px;
  color: #173a56;
}
footer .container .row .icons {
  font-size: 30px;
}
footer .container .row .icons i {
  color: #02897a;
  cursor: pointer;
}
footer .container .row .text1 {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #22343d;
}
footer .container .row .text2 {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 35px;
  color: #22343d;
}
footer .container .row input {
  border: 1px solid #bcd0e5;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 10px 15px;
  width: 100%;
  margin: 34px 0 21px 0;
}
footer .container .row .btn {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  padding: 8px 15px;
}
footer .container .row .text3 {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  color: #22343d;
}

/*# sourceMappingURL=style.css.map */
